.profile-content { 
    background: black;
    border-radius: 25px;
    padding-bottom: 18vh;
}

.image { 
    transform: translateY(5vh);
    ion-avatar { 
       width: 25vh;
       height: 25vh;
       border: 3px solid #E7663E;
       padding: 0.8vh;
       margin-bottom: 6vh;


    }
}

ion-item.profile {
    --background: trasparent;
    ion-label { 
        font-size: 1.5rem;
        font-weight: 600;
        p {
            font-size: 1rem;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}

ion-card.options {
    --background: var(--ion-color-secondary);
    border-radius: 25px;
    p {
        font-size: 0,5rem;
        font-weight: bold;
        margin-top: 10px;
        color: black;
    }

}
