<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-card class="profile-content">
    <div align="center" class="image" (click)="presentAlertConfirm()">
      <ion-avatar>
        <img [src]="photo ? photo : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
      </ion-avatar>
    </div>

    <ion-item lines="none" class="profile">
      <ion-label class="ion-text-center">
        <ion-text color="secondary"> {{ user.username }} </ion-text>
        <p>
          <ion-text color="medium"> título académico </ion-text>
        </p>
      </ion-label>
    </ion-item>

    <ion-card class="options">
      <ion-card-content>
        <p>Nombre: {{ user.nombre }}</p>
        <p>Apellido: {{ user.apellido }}</p>
        <p>Nivel de educación: {{ user.nivelEducacion }}</p>
        <p>Fecha de nacimiento: {{ user.fechaNacimiento }}</p>
        <p>Correo Electrónico: {{ user.correo }}</p>
        <p>ORCID ID: {{ user.orcid }}</p>
        <p>Área de interés: {{ user.areaInteres }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="edit()" expand="full" class="custom-button">Editar</ion-button>
  </ion-card> 
</ion-content>
