<ion-header>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Historial</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        'Lapastora, M. (2021). Psicología del bebé adoptado. Desclée De Brouwer. Sáenz de Jubera Ocón, M., & Alonso Ruíz, R. A. (Coords.). (2021). Ocio y educación: experiencias, innovación y transferencia. Universidad de La Rioja. 1'
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
